<div class="container-fluid">

    <div class="row bg-dark d-flex align-items-center">
       <div class="col-md-6">

        <div class="row d-flex justify-content-center">
            <div class="col-md-6 text-white">
           <h1 class="fs-54">Boas Vindas !</h1>
<h5 class="fs-18">Poste aqui sobre o seu melhor amigo....de patas !</h5>

            </div>

        </div>
        <div class="row d-flex justify-content-center mt-5 mb-8">
            <div class="col-md-6">
               <button type="submit" class="btn btn-danger" data-toggle="modal" 
               data-target="#novaPostagem"> New Post </button>
               <a type="submit" class="btn btn-sucess" href="#todasPostagens" >Ver Posts</a>
            </div>
        </div>
        
              
    


       </div>
<div class="col-md-6 d-flex justify-content-center mt-5 mb-8">
<img src="https://i.imgur.com/JJM1ThO.png" alt="" width="500px" height="500px">
</div>
    </div>
</div>

     


<div class="container mb-5 mt-5" id="postagens">
    <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

          <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-todasPostagens-tab" data-toggle="tab"  href="#todasPostagens"
          role="tab" aria-controls="nav-todasPostagens" aria-selected="true">

        <div class='card-columns'>
          <div class="card text-white bg-dark " *ngFor='let item of listaPostagens' style="max-width: 18rem;">
            <div class="card-header">Post : {{item.id}}</div>
            <div class="card-body">
              <h5 class="card-title mt-3">{{item.titulo}}</h5>
              <small class="test-muted "> Tema: {{item.tema.descricao}}</small>
              <p class="card-text-white">{{item.texto}}</p>
              <p class="card-text-white"><small class="text-muted">
               {{item.date | date: 'dd/MM/yyyy'}} ás {{item.date | date: 'HH:mm'}}
              </small></p>
              <p class="card-text"><small class="text-muted">
                by: {{item.usuario.nome}}
              </small></p>
            </div>
          </div>
        </div>
        </a>
          <a (click)='findByIdUser()' class="nav-item nav-link  text-secondary font-weight-bold" id="nav-profile-tab" data-toggle="tab" href="#meusPosts" 
          role="tab" aria-controls="nav-todasPostagens" aria-selected="false">Meus Posts</a>


          <a class="nav-item nav-link  text-secondary font-weight-bold" id="nav-contact-tab" data-toggle="tab" href="#postsTema" 
          role="tab" aria-controls="nav-postsTema" aria-selected="true">
                     <div class="card text-white bg-dark " *ngFor='let item of tema.postagem' style="max-width: 18rem;">
              <div class="card-header">Post : {{item.id}}</div>
              <div class="card-body">
                <h5 class="card-title mt-3">{{item.titulo}}</h5>
                <small class="test-muted "> Tema: {{item.tema.descricao}}</small>
                <p class="card-text-white">{{item.texto}}</p>
                <p class="card-text-white"><small class="text-muted">
                 {{item.date | date: 'dd/MM/yyyy'}} ás {{item.date | date: 'HH:mm'}}
                </small></p>
                <p class="card-text"><small class="text-muted">
                  by: {{item.usuario.nome}}
                </small></p>
              </div>
            </div>
          </a>
        </div>
      </nav>

      
      <div class="tab-conten text" id="nav-tabContent">
        <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" 
        aria-labelledby="nav-todasPostagens-tab">Todos os Posts</div>
        <div class="tab-pane fade show " id="meusPosts" role="tabpanel" 
        aria-labelledby="nav-meusPosts-tab">Meus Posts</div>
        <div class="tab-pane fade show " id="postsTema" role="tabpanel" 
        aria-labelledby="nav-postsTema-tab">Post por Tema </div>
      </div>
</div>







<!--Modal-->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" 
aria-labelledby="TituloModalCentralizado" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="true">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="TituloModalCentralizado">New Post</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="Titulo">Título</label>
        <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="Titulo" placeholder="Digite o título">
              </div>
              <div class="form-group">
                <label for="texto">Texto</label>
                <textarea  [(ngModel)]='postagem.texto' class="form-control" name="texto" id="texto"  rows="3"></textarea> 
                      </div>
                      <div class="form-group">
                        <label for="texto">Escolha um tema ou <a data-dismiss="modal" routerLink="/tema">cadastre um novo </a>: </label>
                        <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
                          <option  *ngFor='let tema of listaTemas' value="{{tema.id}}">
                            {{tema.descricao}}</option>
                        </select>
                        
                              </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      <button type="button" class="btn btn-sucess"   (click)='publicar()' data-dismiss="modal">Publicar</button>
    </div>
  </div>
</div>

</div>